<div class="thumbnail">
  <%= link_to(photo) do %>
    <%= image_tag photo.image.url(:thumb), class: "img-thumbnail" %>
  <% end %>
  <div class="caption">
    <div class="owner"><%= photo.user.username if !photo.user.nil? %></div>
  </div>
</div>