<div class="thumbnail">
  <%= link_to(photo) do %>
  	<%= image_tag photo.image.url(:thumb), class: "img-thumbnail" %> 
  <% end %>
  <div class="caption">
  	<% if photo.user == current_user %>
	  	<span class="glyphicon glyphicon-trash photo-delete"></span>
	  <% end %>
	    <%= photo.user.username if !photo.user.nil? %>
  </div>
</div>