<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @album.name %>
</p>

<% if @album.photos.size > 0 %>
	<h2>Photos</h2>
	<div class="container-fluid">
	<% @album.photos.each do |photo| %>
	  <div class="col-xs-6 col-sm-3 col-md-2">
	    <%= render partial: 'shared/thumbnail', locals: {photo: photo} %>
	  </div>
	<% end %>
	</div>
<% end %>

<% if @album.user == current_user %>         
  <%= link_to 'Edit', edit_album_path(@album) %>
<% end %>
