<h1>Listing all photos</h1>

<div class="container-fluid">
  <% @all_photos.each do |photo| %>
    <div class="col-xs-6 col-sm-3 col-md-2">
      <%= render partial: 'shared/thumbnail', locals: {photo: photo} %>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'Add Photo', new_photo_path %>
